.recommended {
  &__title {
    margin-bottom: 56px;
  }

  &__wrapper {
    @include gridColumns;

    @include onLaptop {
      display: flex;
      flex-direction: column;
      gap: 56px;
    }

    @include onMobile {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__item {
    grid-column: span 4;
  }
}

.item {
  &__link {
    display: flex;
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__paragraph {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
  }
}
